[
    {
        "id": "OFF16119",
        "name": "29tk-49p/min-3d_Digital",
        "description": "29tk-49p/min-3d_Digital",
        "rechargeAmount": 29,
        "voiceRate": "49p/min",
        "validity": 3,
        "validityType": "DAY",
        "transactionId": "6104590193169840893"
    },
    {
        "id": "OFF16113",
        "name": "698tk-1000min-40gb+10gb_bonus-30d_Digital",
        "description": "698tk-1000min-40gb+10gb_bonus-30d_Digital",
        "rechargeAmount": 698,
        "voiceMin": "1000",
        "dataProduct": "40",
        "dataVolumeType": "GB",
        "validity": 30,
        "validityType": "DAY",
        "transactionId": "6104590193169840893",
        "extra": [{
            "product": "bonus",
            "productVolume": "10",
            "productType": "GB"
        }]
    },
    {
        "id": "OFF16112",
        "name": "598tk-800min-35gb+5gb_bonus-30d_Digital",
        "description": "598tk-800min-35gb+5gb_bonus-30d_Digital",
        "rechargeAmount": 598,
        "voiceMin": "800",
        "dataProduct": "35",
        "dataVolumeType": "GB",
        "validity": 30,
        "validityType": "DAY",
        "transactionId": "6104590193169840893",
        "extra": [{
            "product": "bonus",
            "productVolume": "5",
            "productType": "GB"
        }]
    },
    {
        "id": "OFF16111",
        "name": "549tk-50gb+10gb_bonus-30d_Digital",
        "description": "549tk-50gb+10gb_bonus-30d_Digital",
        "rechargeAmount": 549,
        "dataProduct": "50",
        "dataVolumeType": "GB",
        "validity": 30,
        "validityType": "DAY",
        "transactionId": "6104590193169840893",
        "extra": [{
            "product": "bonus",
            "productVolume": "10",
            "productType": "GB"
        }]
    },
    {
        "id": "OFF16110",
        "name": "499tk-40gb+10gb_bonus-30d_Digital",
        "description": "499tk-40gb+10gb_bonus-30d_Digital",
        "rechargeAmount": 499,
        "dataProduct": "40",
        "dataVolumeType": "GB",
        "validity": 30,
        "validityType": "DAY",
        "transactionId": "6104590193169840893",
        "extra": [{
            "product": "bonus",
            "productVolume": "10",
            "productType": "GB"
        }]
    },
    {
        "id": "OFF16109",
        "name": "498tk-500min-25gb+5gb_bonus-30d_Digital",
        "description": "498tk-500min-25gb+5gb_bonus-30d_Digital",
        "rechargeAmount": 498,
        "voiceMin": "500",
        "dataProduct": "25",
        "dataVolumeType": "GB",
        "validity": 30,
        "validityType": "DAY",
        "transactionId": "6104590193169840893",
        "extra": [{
            "product": "bonus",
            "productVolume": "5",
            "productType": "GB"
        }]
    },
    {
        "id": "OFF16108",
        "name": "399tk-20gb+10gb_bonus-30d_Digital",
        "description": "399tk-20gb+10gb_bonus-30d_Digital",
        "rechargeAmount": 399,
        "dataProduct": "20",
        "dataVolumeType": "GB",
        "validity": 30,
        "validityType": "DAY",
        "transactionId": "6104590193169840893",
        "extra": [{
            "product": "bonus",
            "productVolume": "10",
            "productType": "GB"
        }]
    },
    {
        "id": "OFF16107",
        "name": "299tk-8gb+4gb_bonus-30d_Digital",
        "description": "299tk-8gb+4gb_bonus-30d_Digital",
        "rechargeAmount": 299,
        "dataProduct": "8",
        "dataVolumeType": "GB",
        "validity": 30,
        "validityType": "DAY",
        "transactionId": "6104590193169840893",
        "extra": [{
            "product": "bonus",
            "productVolume": "4",
            "productType": "GB"
        }]
    },
    {
        "id": "OFF16106",
        "name": "298tk-250min-8gb+2gb_bonus-30d_Digital",
        "description": "298tk-250min-8gb+2gb_bonus-30d_Digital",
        "rechargeAmount": 298,
        "voiceMin": "250",
        "dataProduct": "8",
        "dataVolumeType": "GB",
        "validity": 30,
        "validityType": "DAY",
        "transactionId": "6104590193169840893",
        "extra": [{
            "product": "bonus",
            "productVolume": "2",
            "productType": "GB"
        }]
    },
    {
        "id": "OFF16105",
        "name": "169tk-25gb+5gb_bonus-7d_Digital",
        "description": "169tk-25gb+5gb_bonus-7d_Digital",
        "rechargeAmount": 169,
        "dataProduct": "25",
        "dataVolumeType": "GB",
        "validity": 7,
        "validityType": "DAY",
        "transactionId": "6104590193169840893",
        "extra": [{
            "product": "bonus",
            "productVolume": "5",
            "productType": "GB"
        }]
    },
    {
        "id": "OFF16103",
        "name": "149tk-20gb+5gb_bonus-7d_Digital",
        "description": "149tk-20gb+5gb_bonus-7d_Digital",
        "rechargeAmount": 149,
        "dataProduct": "20",
        "dataVolumeType": "GB",
        "validity": 7,
        "validityType": "DAY",
        "transactionId": "6104590193169840893",
        "extra": [{
            "product": "bonus",
            "productVolume": "5",
            "productType": "GB"
        }]
    },
    {
        "id": "OFF16102",
        "name": "129tk-10gb+5gb_bonus-7d_Digital",
        "description": "129tk-10gb+5gb_bonus-7d_Digital",
        "rechargeAmount": 129,
        "dataProduct": "10",
        "dataVolumeType": "GB",
        "validity": 7,
        "validityType": "DAY",
        "transactionId": "6104590193169840893",
        "extra": [{
            "product": "bonus",
            "productVolume": "5",
            "productType": "GB"
        }]
    },
    {
        "id": "OFF16101",
        "name": "114tk-6gb+4gb_bonus-7d_Digital",
        "description": "114tk-6gb+4gb_bonus-7d_Digital",
        "rechargeAmount": 114,
        "dataProduct": "6",
        "dataVolumeType": "GB",
        "validity": 7,
        "validityType": "DAY",
        "transactionId": "6104590193169840893",
        "extra": [{
            "product": "bonus",
            "productVolume": "4",
            "productType": "GB"
        }]
    },
    {
        "id": "OFF16100",
        "name": "99tk-2gb+3gb_bonus-7d_Digital",
        "description": "99tk-2gb+3gb_bonus-7d_Digital",
        "rechargeAmount": 99,
        "dataProduct": "2",
        "dataVolumeType": "GB",
        "validity": 7,
        "validityType": "DAY",
        "transactionId": "6104590193169840893",
        "extra": [{
            "product": "bonus",
            "productVolume": "3",
            "productType": "GB"
        }]
    },
    {
        "id": "OFF16099",
        "name": "98tk-60min-2gb+3gb_bonus-7d_Digital",
        "description": "98tk-60min-2gb+3gb_bonus-7d_Digital",
        "rechargeAmount": 98,
        "voiceMin": "60",
        "dataProduct": "2",
        "dataVolumeType": "GB",
        "validity": 7,
        "validityType": "DAY",
        "transactionId": "6104590193169840893",
        "extra": [{
            "product": "bonus",
            "productVolume": "3",
            "productType": "GB"
        }]
    },
    {
        "id": "OFF16098",
        "name": "76tk-0.5gb+0.5gb_bonus-30d_Digital",
        "description": "76tk-0.5gb+0.5gb_bonus-30d_Digital",
        "rechargeAmount": 76,
        "dataProduct": "0.5",
        "dataVolumeType": "GB",
        "validity": 30,
        "validityType": "DAY",
        "transactionId": "6104590193169840893",
        "extra": [{
            "product": "bonus",
            "productVolume": "0.5",
            "productType": "GB"
        }]
    },
    {
        "id": "OFF16120",
        "name": "74tk-120min-7d_Digital",
        "description": "74tk-120min-7d_Digital",
        "rechargeAmount": 74,
        "voiceMin": "120",
        "validity": 7,
        "validityType": "DAY",
        "transactionId": "6104590193169840893"
    },
    {
        "id": "OFF16094",
        "name": "73tk-6gb+1gb_bonus-3d_Digital",
        "description": "73tk-6gb+1gb_bonus-3d_Digital",
        "rechargeAmount": 73,
        "dataProduct": "6",
        "dataVolumeType": "GB",
        "validity": 3,
        "validityType": "DAY",
        "transactionId": "6104590193169840893",
        "extra": [{
            "product": "bonus",
            "productVolume": "1",
            "productType": "GB"
        }]
    },
    {
        "id": "OFF16093",
        "name": "67tk-40min-2gb+2gb_bonus-3d_Digital",
        "description": "67tk-40min-2gb+2gb_bonus-3d_Digital",
        "rechargeAmount": 67,
        "voiceMin": "40",
        "dataProduct": "2",
        "dataVolumeType": "GB",
        "validity": 3,
        "validityType": "DAY",
        "transactionId": "6104590193169840893",
        "extra": [{
            "product": "bonus",
            "productVolume": "2",
            "productType": "GB"
        }]
    },
    {
        "id": "OFF16122",
        "name": "57tk-90min-7d_Digital",
        "description": "57tk-90min-7d_Digital",
        "rechargeAmount": 57,
        "voiceMin": "90",
        "validity": 7,
        "validityType": "DAY",
        "transactionId": "6104590193169840893"
    },
    {
        "id": "OFF16092",
        "name": "51tk-1gb+1gb_bonus-3d_Digital",
        "description": "51tk-1gb+1gb_bonus-3d_Digital",
        "rechargeAmount": 51,
        "dataProduct": "1",
        "dataVolumeType": "GB",
        "validity": 3,
        "validityType": "DAY",
        "transactionId": "6104590193169840893",
        "extra": [{
            "product": "bonus",
            "productVolume": "1",
            "productType": "GB"
        }]
    },
    {
        "id": "OFF16090",
        "name": "44tk-20min-1.5gb+0.5gb_bonus-3d_Digital",
        "description": "44tk-20min-1.5gb+0.5gb_bonus-3d_Digital",
        "rechargeAmount": 44,
        "voiceMin": "20",
        "dataProduct": "1.5",
        "dataVolumeType": "GB",
        "validity": 3,
        "validityType": "DAY",
        "transactionId": "6104590193169840893",
        "extra": [{
            "product": "bonus",
            "productVolume": "0.5",
            "productType": "GB"
        }]
    }
]